/*font-family: 'Cuprum', sans-serif;
font-family: 'Pathway Gothic One', sans-serif;
font-family: 'Acme', sans-serif;
font-family: 'BenchNine', sans-serif;
font-family: 'Philosopher', sans-serif;
font-family: 'Marmelad', sans-serif;
font-family: 'Aclonica', sans-serif;*/

body {
    background-image: url("images/rainbow_drops.jpg");
    background-size: 1400px auto;
    background-repeat: repeat;
    font-family: 'Philosopher', sans-serif;
}

/*.container {
	display: flex;
}*/


.header {
	margin-bottom: 10px;
	display: flex;
}

.column {
	flex: 1 1 0;
}

.header-name {
	font-family: 'Aclonica', sans-serif;
	text-align: left;
	color: #EEE;
}

.flex-group {
	margin-top: 35px;
}
.header-title {
	color: #EEE;
	text-align: right;
}

.header-image {
	border-radius: 25px;
	margin-left: 100px;
	margin-bottom: 25px;
	
}

.bw-drop {
	max-width: 300px;
	max-height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.pink-leaves {
	max-width: 300px;
	max-height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.rainbow-rock {
	max-width: 300px;
	max-height: auto;
}

.rose {
	max-width: 300px;
	max-height: auto;
}

.sea-urchin {
	max-width: 300px;
	max-height: 200px;
}

.portfolio {
	color: white;
}